<container>
    <row class="alternate-bg">
        <columns small="12" large="6" class="center">
            <a href="tel:+4592900200" alt="Ring til os" class="img-icon-link"><img src="assets/img/contact-icon.png" class="img-icon"/>&nbsp;&nbsp;  +45 92 900 200</a>
        </columns>
        <columns small="12" large="6" class="center">
            <row><a href="mailto:info@buchcopenhagen.dk" alt="Kontakt via email" class="img-icon-link"><img src="assets/img/mail-icon.png" class="img-icon"/>&nbsp;&nbsp; KONTAKT OS</a></row>
        </columns>
    </row>
    <row>
        <columns small="12" large="12">
            <row>
                <p class="center-text emphasize">
                    Copyright &copy; Buch Copenhagen
                </p>
            </row>
            <row>
                <p class="center-text">
                    Buch Copenhagen | Hørsholm Midtpunkt 74 | 2970 Hørsholm
                </p>
            </row>
        </columns>
    </row>
</container>
