<container class="header">

    <row>
        <columns small="12" large="12" class="center-text">
                <img src="assets/img/logo.png" class="margin-center" alt="Buch Copenhagen logo" />
        </columns>
    </row>

    <row class="alternate-bg">
        <columns small="12" large="3" class="center">
            <a class="navbar-link-item " href="/news">News</a>
        </columns>
        <columns small="12" large="3" class="center">
            <a style="" class="navbar-link-item" href="/shop-now">Shop now</a>
        </columns>
        <columns small="12" large="3" class="center">
            <a style="" class="navbar-link-item" href="/Goodies">Goodies</a>
        </columns>
        <columns small="12" large="3" class="center">
            <a style="" class="navbar-link-item" href="/find-stores">Find stores</a>
        </columns>
    </row>
</container>
